<div class="add-shift">
  {{#liquid-if sectionOne class="nextPage"}}
    <div class="filter">
      <div class="col-xs-6">
        <select class="form-control" onchange={{action "selectMonth" value="target.value"}}>
          <option value={{month.value}} selected=true>
            {{month.label}}
          </option>
      
          {{#each months as |item|}}
            <option value={{item.value}}>
              {{item.label}}
            </option>
          {{/each}}
        </select>
      </div>
  
      <div class="col-xs-6">
        <select class="form-control" onchange={{action "selectYear" value="target.value"}} selected={{year}}>
          <option value={{year}} selected=true>
            {{year}}
          </option>
      
          {{#each years as |item|}}
            <option value={{item}}>
              {{item}}
            </option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="calendar animated fadeIn">
      <ul class="weekdays">
        {{#each calendarDays as |item|}}
          <li>{{item}}</li>
        {{/each}}
      </ul>

      <ul class="days"> 
        {{#each calendar as |item|}}
          {{#if item.isSelected}}
            <li class=" {{if item.isToday 'today'}}" {{action "selectDate" item}}><span class="active">{{item.dayFormatted}}</span></li>
          {{else}}
            {{#if item.isPreSelected}}
              <li><span class="preSelected {{if item.isToday 'today'}}">{{item.dayFormatted}}</span></li>
            {{else}}
              <li {{action "selectDate" item}} class="{{if item.isToday 'today'}}">{{item.dayFormatted}}</li>
            {{/if}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  {{else}}
    <div class="col-xs-12 text-center options">
      <h4>Step 2.</h4>
      <p>Great! We have the dates, now were they day or night shifts?</p>
      
      {{#if day}}
        <button class="btn btn-primary" {{action 'select'}}>Day</button> 
        <button class="btn btn-default" {{action 'select'}}>Night</button>
      {{else}}
        <button class="btn btn-default" {{action 'select'}}>Day</button> 
        <button class="btn btn-primary" {{action 'select'}}>Night</button>
      {{/if}}
      
      <br>
      <hr>
      <br>
      <p>Add a reference</p>
      <br>
      {{input type="text" class="form-control" placeholder="e.g NHS" value=reference}}
      <br><br>
      <span class="col-xs-6">
        <p>Start Time</p>
        {{input type="time" class="form-control" value=startTime}}
      </span>
      <span class="col-xs-6">
        <p>End Time</p>
        {{input type="time" class="form-control" value=endTime}}
      </span>
      <br><br>
      <div class="col-xs-12">
        <br><br>
        <button class="btn btn-default" {{action 'saveShifts'}}>Save</button> 
      </div>
    </div>
  {{/liquid-if}}
</div>