<div class="add-shift">
  {{#liquid-if sectionOne class="slide"}}
    <div class="filter">
      <div class="col-xs-6">
        <select class="form-control" onchange={{action "selectMonth" value="target.value"}}>
          <option value={{month.value}} selected=true>
            {{month.label}}
          </option>
      
          {{#each months as |item|}}
            <option value={{item.value}}>
              {{item.label}}
            </option>
          {{/each}}
        </select>
      </div>
  
      <div class="col-xs-6">
        <select class="form-control" onchange={{action "selectYear" value="target.value"}} selected={{year}}>
          <option value={{year}} selected=true>
            {{year}}
          </option>
      
          {{#each years as |item|}}
            <option value={{item}}>
              {{item}}
            </option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="calendar animated fadeIn">
      <ul class="weekdays">
        {{#each calendarDays as |item|}}
          <li>{{item}}</li>
        {{/each}}
      </ul>

      <ul class="days"> 
        {{#each calendar as |item|}}
          {{#if item.isSelected}}
            <li {{action "selectDate" item}}><span class="active {{if item.isToday 'today'}}">{{item.dayFormatted}}</span></li>
          {{else}}
            {{#if item.isPreSelected}}
              <li><span class="preSelected {{if item.isToday 'today'}}">{{item.dayFormatted}}</span></li>
            {{else}}
              <li {{action "selectDate" item}}> <span class="{{if item.isToday 'today'}}">{{item.dayFormatted}}</span></li>
            {{/if}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
    <div class="tip text-center">
      <small class="text-center">Select your shifts in groups. For example <i>all your shifts that were days starting from 07:00 till 19:00</i></small>
    </div>
  {{else}}
    <div class="text-center options">
      <h4>Step 2.</h4>
      <p>Great! We have the dates, now were they day or night shifts?</p>
      {{#if application.user.presets}}
        <small>Suggestions</small>
        <div class="suggestions">
          {{#each presets as |preset|}}
            <a class="suggestion" {{action "selectPreset" preset}} style="color:{{preset.colour}}">{{preset.title}}</a> 
          {{/each}}
        </div>
        <hr>
      {{/if}}
      {{#liquid-if presetSelected class="slide"}}
        <h4>Using Suggestion.</h4>
        {{#if presetSelected.isDay}}
          <h5><strong>Day Shift</strong></h5>
        {{else}}
          <h5><strong>Night Shift</strong></h5>
        {{/if}}
        <h5>Reference: <strong>{{presetSelected.reference}}</strong></h5>
        <h5>Start Time: <strong>{{presetSelected.startTime}}</strong></h5>
        <h5>End Time: <strong>{{presetSelected.endTime}}</strong></h5>
        <a {{action 'dontUse'}}>Dont Use Suggestion</a>
      {{else}}
        {{#if day}}
          <button class="btn btn-primary" {{action 'select'}}>Day</button> 
          <button class="btn btn-default" {{action 'select'}}>Night</button>
        {{else}}
          <button class="btn btn-default" {{action 'select'}}>Day</button> 
          <button class="btn btn-primary" {{action 'select'}}>Night</button>
        {{/if}}
      
        <br><br>
        <div class="col-xs-8">
          <p>Add a reference</p>
          {{input type="text" class="form-control" placeholder="e.g Long" value=reference}}
          <br><br>
        </div>
        <div class="col-xs-4">
          <p>Colour</p>
          {{spectrum-color-picker color=presetColour showPalette=true showPaletteOnly=true palette=paletteOfColours hideAfterPaletteSelect=true}}
          <br><br>
        </div>
        <span class="col-xs-6">
          <p>Start Time</p>
          {{input type="time" class="form-control" value=startTime}}
        </span>
        <span class="col-xs-6">
          <p>End Time</p>
          {{input type="time" class="form-control" value=endTime}}
        </span>
        <br><br>
      {{/liquid-if}}
        <br>
        <button class="btn btn-default" {{action 'back'}}>Back</button> <button class="btn btn-primary" {{action 'saveShifts'}}>Save</button> 
        {{#unless presets}}
          <div class="tip text-center">
            <small class="text-center">Suggestions will appear after you have added a few shifts!</small>
          </div>
        {{/unless}}
    </div>
  {{/liquid-if}}
</div>