<div class="top-header">
  
</div>
<div class="add-shift">
  <div class="input-group">
    <div class="input-group-addon">{{fa-icon "hashtag"}}</div>
    {{input type="text" class="form-control" placeholder="Reference" value=model.reference}}
  </div>
  
  <div class="input-group">
    <div class="input-group-addon">{{fa-icon "location-arrow"}}</div>
    {{input type="text" class="form-control" placeholder="Location" value=model.location}}
  </div>
  
  <div class="input-group">
    <div class="input-group-addon">{{fa-icon "circle-thin"}}</div>
    {{input type="text" class="form-control" placeholder="Colour" value=model.colour}}
  </div>
  
  <div class="input-group">
     {{bs-datetimepicker class="dateTime" date=model.dateTime openOnFocus=true}}
  </div>
</div>