<div class="add-shift">
  {{#liquid-if sectionOne class="nextPage"}}
    {{bootstrap-datepicker-inline multidate=true placeholder="Click to play" value=dates}}
  {{else}}
    <div class="col-xs-12 text-center options">
      <h4>Step 2.</h4>
      <p>Great! We have the dates, now were they day or night shifts?</p>
      
      {{#if day}}
        <button class="btn btn-primary" {{action 'select'}}>Day</button> 
        <button class="btn btn-default" {{action 'select'}}>Night</button>
      {{else}}
        <button class="btn btn-default" {{action 'select'}}>Day</button> 
        <button class="btn btn-primary" {{action 'select'}}>Night</button>
      {{/if}}
      
      <br>
      <hr>
      <br>
      <p>Add a reference</p>
      <br>
      {{input type="text" class="form-control" placeholder="e.g NHS" value=reference}}
      <br><br>
      <span class="col-xs-6">
        <p>Start Time</p>
        {{input type="time" class="form-control" value=startTime}}
      </span>
      <span class="col-xs-6">
        <p>End Time</p>
        {{input type="time" class="form-control" value=endTime}}
      </span>
      <br><br>
      <div class="col-xs-12">
        <br><br>
        <button class="btn btn-default" {{action 'saveShifts'}}>Save</button> 
      </div>
    </div>
  {{/liquid-if}}
</div>