{{#if isOffline}}
  <div class="message_alert">
    You are offline, some features may not work
  </div>
{{/if}}

{{#if message}}
  <div class="message_alert">
    {{message}}
  </div>
{{/if}}

{{#if isLoginPage}}
  {{outlet}}
{{else}}
  {{partial "navigation"}}
  {{liquid-outlet class="liquid-container"}}
{{/if}}

{{#if loading}}
  <div class="loading">
    <span class="spinner">{{fa-icon 'circle-o-notch' spin=true}}</span>
  </div>
{{/if}}
  