<div class="calendar">
  <ul class="weekdays animated fadeIn">
    {{#each calendarDays as |item|}}
      <li>{{item}}</li>
    {{/each}}
  </ul>

  <ul class="days"> 
    {{#each calendar as |item|}}
      {{#unless item.isActive}}
        <li>{{item.dayFormatted}}</li>
      {{else}}
        <li {{action "select" item}}><span class="active" style="background: {{item.colour}}">{{item.dayFormatted}}</span></li>
      {{/unless}}
    {{/each}}
  </ul>
</div>

