<div class="card animated fadeIn" {{action "removeShift" shift on="swipe"}} id="{{shift.id}}">
  <div class="title col-xs-5">
    <strong>{{shift.reference}}</strong><br>
    <small>{{shift.dateFormatted}}</small>
  </div>

  {{#if shift.day}}
    <span class="dayNight col-xs-2 text-center"><span class="circle" style="background:{{shift.colour}};">{{fa-icon 'sun-o'}}</span></span>
  {{else}}
    <span class="dayNight col-xs-2 text-center"><span class="circle" style="background:{{shift.colour}};">{{fa-icon 'moon-o'}}</span></span>
  {{/if}}

  <div class="date col-xs-3 text-right">
      {{#if shift.isDone}}<small class="done">DONE</small>{{/if}}
     {{#if shift.upcoming}}<small class="upcoming">COMING UP</small>{{/if}}
     <br>
     <p>
      Start {{shift.startTime}}<br>
      End {{shift.endTime}}
    </p>
  </div>
  <div class="options col-xs-1" {{action 'removeShift' shift}}>
    <a>{{fa-icon "ban"}}</a>
  </div>
</div>