<div class="daysOff">
  {{partial "filter"}}
  <div class="calendar">
    <ul class="weekdays">
      {{#each calendarDays as |item|}}
        <li>{{item}}</li>
      {{/each}}
    </ul>

    <ul class="days"> 
      {{#each calendar as |item|}}
        {{#unless item.isActive}}
          <li>{{item.dayFormatted}}</li>
        {{else}}
          <li><span class="active">{{item.dayFormatted}}</span></li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>
</div>