<div class="filter">
  <div class="col-xs-6">
    <select class="form-control" onchange={{action "selectMonth" value="target.value"}}>
      <option value={{application.month.value}} selected=true>
        {{application.month.label}}
      </option>
      
      {{#each application.months as |item|}}
        <option value={{item.value}}>
          {{item.label}}
        </option>
      {{/each}}
    </select>
  </div>
  
  <div class="col-xs-6">
    <select class="form-control" onchange={{action "selectYear" value="target.value"}} selected={{year}}>
      <option value={{application.year}} selected=true>
        {{application.year}}
      </option>
      
      {{#each application.years as |item|}}
        <option value={{item}}>
          {{item}}
        </option>
      {{/each}}
    </select>
  </div>
</div>