<div class="history" style="{{if application.cardView 'padding:1em'}}">
  {{#liquid-if application.cardView class="slide"}}
    <div class="cards">
      {{#each model as |shift|}}
        {{partial "card"}}
      {{else}}
        <div class="text-center nothing">
          <h1>{{fa-icon "calendar-times-o"}}</h1>
          <h6>You have has no past shifts</h6>
        </div>
      {{/each}}
    </div>
  {{else}}
    {{partial 'filter'}}
    {{partial 'calendar-view'}}
  {{/liquid-if}}
  
  {{#if shift class="slide"}}
    <div class="cards" style="margin-top: -5em; padding:0;">
      {{partial "card"}}
    </div>
  {{/if}}
</div>