<div class="history">
  {{#liquid-if application.cardView class="slide"}}
    <div class="cards">
      {{#each model as |shift|}}
        {{partial "card"}}
      {{else}}
        <div class="text-center nothing">
          <h1>{{fa-icon "calendar-times-o"}}</h1>
          <h6>You have has no past shifts</h6>
        </div>
      {{/each}}
    </div>
  {{else}}
    {{partial 'filter'}}
    {{partial 'calendar-view'}}
  {{/liquid-if}}
</div>