{{#if showNav}}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="pull-left">
        {{#side-menu-toggle}}
          {{fa-icon "bars"}}
        {{/side-menu-toggle}}
      </div>
      <div class="pull-left title">
        {{title}}
      </div>
      
      <div class="pull-right action">
        {{#if action.add}}
        {{#link-to 'add-shift'}}
          {{fa-icon "plus"}}
        {{/link-to}}
        {{/if}}
      </div>
    </div>
  </nav>

  {{#side-menu}}
  <ul class="nav">
    <div class="account">
      <div class="profilePicture pull-left" style="background:url('{{user.identity.image}}'); background-size:cover;">
      </div>
      <div class="name pull-left">
        {{user.identity.fullName}}
        <br>
        <small>{{user.secure.username}}</small>
      </div>
    </div>
    <li>
      {{#side-menu-link-to "overview"}}
        <span class="icon">{{fa-icon "home"}}</span> Overview
      {{/side-menu-link-to}}
    </li>
    
    <li>
      {{#side-menu-link-to "overview"}}
        <span class="icon">{{fa-icon "history"}}</span> History
      {{/side-menu-link-to}}
    </li>
    
    <li>
      {{#side-menu-link-to "overview"}}
        <span class="icon">{{fa-icon "list"}}</span> Upcoming
      {{/side-menu-link-to}}
    </li>
    
    <li>
      {{#side-menu-link-to "overview"}}
        <span class="icon">{{fa-icon "cog"}}</span> Settings
      {{/side-menu-link-to}}
    </li>
    
    <li class="divider"></li>
    <li>
      <a {{action "invalidateSession"}}>
        <span class="icon">{{fa-icon "user"}}</span> Logout
      </a>
    </li>
  </ul>
  {{/side-menu}}
  {{content-backdrop}}
  
{{/if}}