<div class="settings">
  <div class="text-center center">
    {{#if tempPassSet}}
      <div class="alert alert-danger">Please set your new password</div>
      <small>Password</small>
      {{input type="password" class="form-control" value=newPassword placeholder="Password"}}
      <br><br>
    {{/if}}
    <!--<div class="profilePicture" style="background:url('{{application.user.identity.image}}'); background-size:cover;"></div>
    <br>
    <div class="imageUpload btn btn-default">
        <span>Upload Picture</span>
        {{upload-file type="file" class="upload" accept="image/*" file=profilePicture fileSize=imageSize fileType=imageType accept="image/*;capture=camera"}}
    </div>  -->  
    <br>
    <small>First Name</small>
    {{input type="text" class="form-control" placeholder="First Name" value=application.user.identity.firstName}}
    <br><br>
    <small>Last Name</small>
    {{input type="text" class="form-control" placeholder="Last Name" value=application.user.identity.lastName}}
    <br><br>
    <small>Email</small>
    {{input type="text" class="form-control" readonly=true placeholder="Email" value=application.user.identity.email}}
    <br><br>
    <small>User Name</small>
    {{input type="text" class="form-control" placeholder="Username" readonly=true value=application.user.secure.username}}
    <br><br>
    <small>Change Default View</small>
    <br>
    {{#if application.user.calendarView}}
      <button class="btn btn-primary">Calendar</button>
      <button class="btn btn-default" {{action 'changeViewSetting' false}}>List</button>
    {{else}}
      <button class="btn btn-default" {{action 'changeViewSetting' true}}>Calendar</button> 
        <button class="btn btn-primary">List</button>
    {{/if}}
    <br><br><br>
    {{#unless tempPassSet}}
      <small>Password</small>
      {{input type="password" class="form-control" value=newPassword placeholder="Password"}}
    {{/unless}}
  </div>
</div>